
/* 初期設定
---------------------------------------------------- */
body {
  margin: 0;
  padding: 0;
  color: #333;
  background: #fff;
}
p {
  line-height: 1.7;
}
a:link {
  color: #36c;
}
a:visited {
  color: #609; 
}
a:hover {
  color: #666;
}
img {
  border: 0;
}

/* ページの枠組み
---------------------------------------------------- */
#page {
  margin: 0 auto;
  width: 800px;
}

/* ヘッダー
---------------------------------------------------- */



/* ナビゲーション
---------------------------------------------------- */



/* メインコンテンツ
---------------------------------------------------- */
h2 {
  font-size: medium;
}
main ul {
  list-style-image: url(images/marker-gray.png);
}

/* フッター
---------------------------------------------------- */
footer {
  text-align: center;
}